/* src/components/layout/MainLayout.css */
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; 
}


/* Auparavant, c'était ".main-layout::before".
   Maintenant, le pseudo-élément (et donc l'image) ne s'appliquera
   QUE si le layout a la classe "with-background". */
.main-layout.with-background::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  
  background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/books.png');
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  filter: blur(2px);
  opacity: 0.3;
  
  z-index: -1;
}


.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}